<h2>Welcome to the webpage that shows shoes, shoe brands, shoe stores!</h2>

<div class="container">
  <form action="/" method="post">
    <button type="submit" name="button"> Click Here to Get Started</button>

  </form>
