<div class="container">
<h2>Welcome to the webpage that shows shoes, shoe brands, shoe stores!</h2>
<br>
<br>
<br>


<button class="button" id="storePage">
<a href="/stores">Click here to view stores and add,update or delete them</a>
</button>
<br>
<br>
<br>


<button class="button" id="brandPage">
<a href="/brands">Click here to view and add brands</a>
</button>
<br>
<br>
<br>

<button class="button" id="shoePage">
<a href="/brands">Click here to view and add shoes</a>
</button>

</div>
