
<!DOCTYPE html>
<html>
  <head>
    <title>Shoe Company Webpage</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
     <link href='<%= url("/styles.css")%>' rel="stylesheet" type="text/css">
  </head>
  <body>

    <div class="container">
      <%= yield %>
    </div>

    <div class="homepage">
      <button class="container" id="homepage" type="button" name="button"><a href="/">Click here return home</a>
      </button>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>

  </body>
</html>
