<div class="container">

  <h2>Welcome to the shoe webpage</h2>

  <%if @shoes != []%>
    <% @shoes.each do |shoe| %>
      <p><%=shoe.name%></p>
        <% end %>
    <% else %>
      <h2>no entered shoes yet</h2>
    <% end %>


  <form class="container form-group button" action="/shoes" method="post">
    <label for="shoeName">Enter a Shoe</label>
    <input type="text" name="shoeName" id="shoeName">
    <button  type="submit" class="btn btn-info">Add A Shoe </button>
  </form>

</div>
