<div class="container">

<h1> Store Name:  <%= @store.name%></h1>
<br>
<br>

<h1></h1>

<%if @store.brands != []%>
 <% @store.brands.each do |brand| %>
  <h3> Brand Name: <%= brand.name%> &nbsp; --- &nbsp;Brand Price: $<%= brand.price.to_f / 100%>
  </h3>
  <%if brand.shoes != []%>
   <% brand.shoes.each do |shoe| %>
    <p> Shoe Name: <%= shoe.name%> </p>
    <% end %>
    <% else %>
    <option value="" disabled selected>no shoes yet</option>
  <% end %>
  <% end %>
<% else %>
  <option value="" disabled selected>no brands yet</option>
<% end %>
<h2>Here is the store  brands, shoe stores!</h2>


</div>
