<div class="container">

<h1> Store Name:  <%= @store.name%></h1>
<br>
<br>

<%if @store.brands != []%>
 <% @store.brands.each do |brand| %>
  <h3> Brand Name: <%= brand.name%> </h3>
  <h4>Price: $<%= brand.price.to_f / 100%> </h4>
  <%if brand.shoes != []%>
   <% brand.shoes.each do |shoe| %>
    <p> Shoe: <%= shoe.name%> </p>
    <% end %>
    <% else %>
    <option value="" disabled selected>no shoes yet</option>
  <% end %>
  <% end %>
<% else %>
  <option value="" disabled selected>no brands yet</option>
<% end %>

</div>
