<div class="container">

  <h2>Welcome to the stores webpage</h2>


  <form class="container form-group button" action="" method="" name="">
    <label for="storeName">Enter a Store</label>
    <input type="text" name="storeName" id="storeName">
    <button  type="submit" class="btn btn-info">Add A Store </button>
  </form>

</div>
